<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
</head>
<body>
	<div class="container">
	<form>
	<nav>
		<ul>
			<p class="in">Returning user?: <a href="{{url_for('login')}}" class="login-button">Login</a></p>
			<p class="in"> New user?: <a href="{{url_for('register')}}" class="create-button">Create account</a></p>
			<li><a href="{{url_for('search')}}">Play As A Guest</a></li>
		</ul>
	</nav>
	{% if current_user.is_authenticated %}
    
	<p class="out"> You are logged in <a href="{{url_for('logout')}}" class="logout-button"> Logout</a></p>
	
    {% else %}
    <h2>You are not logged in</h2>
    {% endif %}
	</form>
</div>
</body>
</html>
